/* BASIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
  width: 1440px;
  margin: 0 auto;
}

:root {
  --main-text-color: #403F3D;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* FIX */

/* HEADER */

.header__container {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 40px;
  justify-content: space-between;
}

.header__nav-ul__wrapper {
  display: flex;
  gap: 40px;
  list-style: none;
}

.header__nav-ul__wrapper a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header__menu {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.header__menu a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

/* CONTAINER */

.container {
  position: relative;
  margin-left: 40px;
}

.enjoy__title {
  width: 530px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 100px 0 100px 100px;
}

.enjoy__title h1 {
  color: #B0907A;
  font-family: 'Inter';
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;

}

.textcolor {
  color: #E1D4C9;
}

.enjoy__title p {
  color: #E1D4C9;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.enjoy__title button {
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
  border-style: none;
  cursor: pointer;
  background: #E1D4C9;
}

/* FAVORITE */

.favorite {
  margin-top: 97px;
}

.favorite__container {
  padding: 0 40px 0 40px;
}

.favorite__container h2 {
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.slider__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider__title h3 {
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider__title p {
  width: inherit;
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.slider__button-left,
.slider__button-right {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #665F55;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
}

.slider__control {
  display: flex;
  margin-top: 40px;
  gap: 12px;
  justify-content: center;
}

.slider__control button {
  border-radius: 100px;
  background: #665F55;
  width: 40px;
  height: 4px;
  border-style: none;
}

/* ABOUT */

.about {
  margin-top: 100px;
}

.about__container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0 40px;
}

.about__container h2 {
  color: var(--main-text-color);
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.about__items {
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
gap: 40px;
}

.item3 {
  background-size: cover no-repeat;
}

.item4 {
  margin-top: -160px;
}


.about__items img {
  border-radius: 20px;
}
