/* BASIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* FIX */

/* HEADER */


