/* BASIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
  max-width: 1440px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
}


:root {
  --main-text-color: #403F3D;
}

@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url(../../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* FIX */

/* HEADER */

.menu__icon {
  display: none;
}

.mobile__menu {
  display: none;
}

.mobile__menu a {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Action/burger-link */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
}

.header__container {
  display: flex;
  align-items: center;
  padding: 16px  40px 0 40px;
  justify-content: space-between;
}

.header__nav-ul__wrapper {
  display: flex;
  gap: 40px;
  list-style: none;
}

.header__nav-ul__wrapper a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header__menu {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.header__menu a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  pointer-events: none;
  cursor: pointer;
}

.hover-animation {
  position: relative;
  color: var(--main-text-color);
}

.hover-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -20%;
  left: 0;
  transform: scaleX(0);
  background-color: var(--main-text-color);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.menu__disabled::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -20%;
  left: 0;
  transform: scaleX(1);
  background-color: var(--main-text-color);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.hover-animation:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.menu__icon {
  display: none;
}

/* MENU-CONTAINER */

.menu {
  margin-top: 20px;
}

.menu__container {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu__container h2 {
  width: 800px;
  color: var(--main-text-color);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Heading/heading-2 */
  font-family: 'Inter';
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.italic {
  color: #B0907A;
  font-style: italic;
}

.menu__container-buttons {
  display: flex;
  gap: 16px;
}

.main__style {
  padding: 8px 16px 8px 8px;
  gap: 8px;
  border-radius: 100px;
  border-style: none;
    border: 1px solid var(--border-light, #C1B6AD);
    cursor: pointer;
}

.menu__container-buttons-coffee {
  background-color: #665F55;
}

.flex-button {
  display: flex;
  align-items: center;
}

.img__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C1B6AD;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.menu__container-buttons span {
  color: var(--main-text-color);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.menu__container-buttons-coffee span {
color: #E1D4C9;
}

.main__style:hover {
  background-color: #665F55;
  transition: ease 0.5s;
}

.main__style:hover img {
  background-color: #C1B6AD;
  transition: ease 0.5s;
}

.menu__container-buttons-tea:hover span,
.menu__container-buttons-desert:hover span {
  color: #C1B6AD;
}

.active {
  background-color: #665F55;
}

.coffee {
background-color: #E1D4C9;
}
.disabled {
  background-color: transparent;
}



/* ITEMS */

.menu__items {
  margin-top: 40px;
}

.menus__container {
  display: grid;
  margin-left: 40px;
  grid-template-columns: 310px 310px 310px 310px;
  gap: 40px;
  animation: cardOpen 2s;
}

@keyframes cardOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
}

.img__container {
  width: 309px;
  height: 309px;
  overflow: hidden;
  border-radius: 40px;
}

.img__item {
  margin-top: -19px;
  margin-left: -16px;
}

.menu__item:hover img {
  transform: scale(0.92);
  transition: ease 0.5s;
}

.menu__item img {
  border-radius: 40px;
}

.menu__item-inf h3 {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.menu__item-inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 18px 20px 20px 20px;
  gap: 12px;
  flex-grow: 1;
}

.menu__item-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.menu__item-inf p {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* FOOTER */

.footer {
  margin-top: 100px;
  margin-bottom: 40px;
}

.footer__container {
  margin: 0 40px;
  border-radius: 40px;
  background: #665F55;
}

.footer__contacts {
  display: flex;
  padding: 100px;
  gap: 100px;
}

.heading__slogan {
  width: 530px;
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.heading__slogan-2 {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.footer__links button {
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  background: transparent;
  margin-right: 8px;
  cursor: pointer;
  margin-top: 40px;
}

.footer__links  button:hover {
  background-color: #E1D4C9;
  transition: ease 1s;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 32px;
}

.footer__contact-title h3 {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.footer__contact-links {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__contact-links a,
.footer__contact-links span {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.footer__contact-links img {
  padding-right: 6px;
}

.hover-animation-footer {
  position: relative;
}

.hover-animation-footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -20%;
  left: 0;
  transform: scaleX(0);
  background: #E1D4C9;
  transform-origin: center;
  transition: transform 0.5s ease;
}


.hover-animation-footer:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}


.footer__links  button:hover svg path {
  stroke: #403F3D;
}

.refresh__button {
  display: none;
}

/* MODAL */

.fixed__overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 63, 61, 0.80);
  z-index: 1;
  display: none;
  animation: modalOpen 0.5s;
}

.modal__wrapper {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  align-items: center;
  margin: 0 auto;
  overflow: auto; /* Enable scroll if needed */
  width: 806px;
  animation: modalOpen 0.2s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden__wrapper {
  display: none;
}

.modal__container {
  display: flex;
  background-color: #E1D4C9;
  border-radius: 40px;
  padding: 16px;
}

.modal__img img {
  border-radius: 40px;
  width: 310px;
}

.modal__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.modal__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__title h3 {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.modal__title p {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.modal__size {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__size p {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.modal__size-buttons {
  display: flex;
  gap: 8px;
}

.modal__size-button {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.modal__size-title {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
}

.modal__size-button p {
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.modal__size-button span {
  color: var(--text-dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  }

.modal__additives {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__additives p {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.modal__addiv-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.modal__addiv-button {
  cursor: pointer;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
}

.modal__addiv-button-title {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
}

.modal__addiv-button-title p {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.modal__addiv-title span {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.modal__alert {
  display: flex;
  padding: 12px 0px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid var(--border-light, #C1B6AD);
}

.modal__alert span {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/caption */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
}

.modal__alert svg {
  width: 16px;
  height: 16px;
}

.modal__total {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  justify-content: space-between;
}

.modal__total p {
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.modal__close {
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  cursor: pointer;
}

.modal__close p {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}


/* MEDIA */

@media screen and (max-width: 1439px) {
  .menus__container {
    display: grid;
    margin-left: 40px;
    grid-template-columns: 310px 310px;
    gap: 40px;
    justify-content: center;
    margin-left: inherit;
  }

  .refresh__button {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
  }

  .item__none {
    display: none;
  }

  .menu__items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .menu__container h2 {
    width: 688px;
  }

  /*FOOTER */
  .footer__contacts {
    flex-direction: column;
  }

  .footer__contacts {
    padding: 100px 100px 100px 60px;
    gap: 66px;
  }
}

@media screen and (max-width: 768px) {

  /* Header + Burger */

  .header__menu {
    display: none;
  }

  .menu__icon {
    display: block;
    z-index: 1000;
    width: 44px;
    height: 44px;
    position: relative;
    cursor: pointer;
    border: 1px solid #403F3D;
    border-radius: 100px;
  }

  .menu__icon span,
  .menu__icon::after {
      position: absolute;
      width: 16px;
      height: 1.5px;
      background-color: #403F3D;
      transition: ease 0.3s;
  }

  .menu__icon::after {
    content: '';
    top: 26px;
    left: 14px;
  }

  .menu__icon span {
    top: 18px;
    left: 14px;
  }


  .menu__item-gap {
    margin-bottom: 25px;
  }

  /* HEADER BURGER */

  .nav__hidden {
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: #E1D4C9;
    width: 100vw;
    height: 100%;
    transform: translate(100%, 0px);
    transition: all 0.8s ease;
  }

  .nav__hidden._active {
    transform: translate(0, 0);
  }

  .mobile__menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
  }

  .header__menu a {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/burger-link */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }

  .header__nav-ul__wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    gap: 60px;
    align-items: center;
  }

  .header__nav-ul__wrapper a {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }

  .menu__icon._active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active span {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
/*Modal */

  .modal__wrapper {
    width: 688px;
  }

  .modal__description {
    width: 346px;
  }

  .modal__size-buttons {
    flex-wrap: wrap;
  }

  .modal__addiv-container {
    flex-wrap: wrap;
  }

}

/* MOBILE */

@media screen and (max-width: 767px) {
  .header__container {
    padding: 16px 16px 0 16px;
  }

  .menu__container {
    padding: 0 16px;
  }

  .footer__container {
    margin: 0 16px;
  }

  /* TOP */
  .menu__container h2 {
    width: 348px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Mobile/Heading/heading-2 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }

  .menu__container-buttons {
    gap: 8px;
  }

  .menus__container {
    grid-template-columns: 310px;
    justify-content: center;
  }

  .footer__contacts {
    padding: 60px 16px;
    gap: 40px;
  }

  .footer__contact {
    margin-top: inherit;
  }

  .heading__slogan {
    width: 316px;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Mobile/Heading/heading-2 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }

  .heading__slogan-2 {
    font-feature-settings: 'clig' off, 'liga' off;
    /* Mobile/Heading/heading-2 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }


  .menu__item-gap,
  .menu__item-mobile {
    margin-bottom: 25px;
  }

  /*Modal */

  .modal__img {
    display: none;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    cursor: pointer;
  }

  .product__hidden {
    display: none;
  }

}